body {
    color: #c5c6c7;
    /* background: #00296B; */
    background: rgb(0, 28, 73);
    font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    list-style: none;
    padding-left: 0;
}

.intro-name {
    font-size: 2.5rem;
}


.intro-blurb {
    font-size: 1.5rem;
}

.intro-greeting {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.intro-text {
    width: 100%;
}

/* Page Themes */
.highlight {
    color: #FFD500;
}

.highlight-soft {
    color: #FDC500;
} 

.light-color {
    color: #00509D;
}
.text-header {
    color: white;
}

.text {
    /* color: #c5c6c7; */
    color: #a1a1a1;
    font-size: 0.75rem;
    /* font-size: 0.8rem; */
}


.text-alt {
    color: #6b6e70;
}

.set-to-viewport {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.projects-item {
    border-radius: 10px;
    width: 250px;
    height: 200px;
    /* background: #003F88; */
    background: rgb(0, 39, 100);
    /* margin: auto; */
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-bottom: 10px;
    margin: auto;
    position: relative;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    display: block;
    grid-template-columns: none;
    /* margin: auto; */
    /* margin-left: 8.33%;
    margin-right: 8.33%; */
    /* display: inline-block; */
    /* vertical-align: top; */
}

.test {
    border: black 1px solid;
    width: 200px;
}

.contact {
    text-align: center;
    max-width: 700px;
}

.contact-icon {
    font-size: 50px;
    color: #c5c6c7;
    display: inline;
}

.contact-icon:hover {
    color: #FFD500;
}

.contact-icon-group {
    margin: 0 auto;
}

.contact-header {
    margin: 0 auto;
}

.project-img {
    width: 100%;
    height: auto;
    background-color: #FDC500;
}

.featured {
    margin-bottom: 20px;
}

.projects-container {
    /* width: 80%; */
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    max-width: 60%;
}

.content-positioning {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 600px) {
    .projects-container { 
        grid-template-columns: repeat(2, 1fr); 
        max-width: 70%;
    }
}

@media (min-width: 900px) {
    .projects-container { grid-template-columns: repeat(3, 1fr); }

    .projects-item {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        min-height: 200px;
        min-width: 250px;
        /* margin: auto; */
        /* padding-left: 20px;
        padding-right: 20px; */
        margin-bottom: 10px;
        margin: auto;
        position: relative;
        /* margin: auto; */
        /* margin-left: 8.33%;
        margin-right: 8.33%; */
        /* display: inline-block; */
        /* vertical-align: top; */
    }

    .intro-text {
        width: 50%;
    }
  }

.project-title {
    font-size: 1.2rem;
    width: 90%;
    padding-top: 10px;
}

/* .project-content {
    font-size: 0.8rem;
} */

.project-github-icon {
    position: absolute;
    top: 1%;
    right: 2%;
}

.project-github-icon:hover {
    color: #FFD500;
}

.project-technologies {
    font-size: 0.8rem;
    /* vertical-align: bottom; */
    position: absolute;
    top: 90%;
}

.project-technologies i {
    font-size: 8px;
    color: #45A29E;
}

/* @media (min-width: 576px) {
    .custom-container {
        max-width: 800px;
        margin: auto;
    }
} */

@media (min-width: 576px) {
    .modal-dialog {
        /* max-width: 500px; */
        max-width: none;
        width: 80%;
        margin: 1.75rem auto;
    }
}

.modal-content {
    background-color: rgb(0, 28, 73);
}

.close {
    color: #FFD500;
    text-shadow: 0 1px 0 #00509D;
}

.modal-header {
    border-bottom: none;
}

.featured {
    position: relative;
}

.featured-descript-container {
    background: rgb(0, 39, 100);
    /* -webkit-box-shadow: 7px 7px 2px 0px rgba(69,162,158,1);
    -moz-box-shadow: 7px 7px 2px 0px rgba(69,162,158,1);
    box-shadow: 7px 7px 2px 0px rgba(69,162,158,1); */
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    border-radius: 5px;
    margin-bottom: 5px;
}

.featured-container {
    margin-bottom: 20px;
}

.featured-title span {
    /* padding:0 10px;  */
    padding-right: 10px;
    padding-left: 0;
}

.featured-attr {
    margin-bottom: 5px;
}

.featured-project-tech {
    display: inline-block;
    padding-right: 1%;
    font-size: 0.75rem;
    margin-bottom: 2px;
}

.featured-github {
    position: absolute;
    top: 10%;
    left: 89%;
    font-size: 1.4rem;
    color: #c5c6c7;
}

.featured-github:hover {
    color: #FFD500;
}

.featured-link {
    /* float: right; */
    position: absolute;
    font-size: 1.2rem;
    top: 10%;
    left: 80%;
    color: #c5c6c7;
}

.featured-link:hover {
    color: #FFD500;
}

.feature-break {
    border-top: #FFD500 solid 2px;
    width: 30%;
    text-align: right;
    margin-left: 0;
    margin-top: 2px;
}

table {
    width: 55%;
}

table tr {
    width: 33.33%;
}

/* change the background color */
.navbar-custom { 
    background-color: #474b4f;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    /* -webkit-box-shadow: 0px 3px 3px 0px rgba(31,40,51,1);
    -moz-box-shadow: 0px 3px 3px 0px rgba(31,40,51,1);
    box-shadow: 0px 3px 3px 0px rgba(31,40,51,1); */
    width: 100%;
    background: #00296B;
    z-index: 1;
    box-shadow: 0 4px 2px -2px black;
} 

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link { 
    color: #FFD500; 
} 

.navbar-custom .navbar-brand:hover, 
.navbar-custom .nav-link:hover { 
    color: #FDC500;
}

.navbar-brand {
    border: 2px solid #FFD500;
    padding: 0 10px;
    border-radius: 3px;
}

.navbar-brand:hover {
    border-color: #FDC500;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 213, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #FFD500;
} 

.contact-btn {
    border-color: #FFD500;
}

.contact-btn:hover {
    color: #FFD500;
    border-color: #FFD500; 
    background: rgba(255, 213, 0, 0.1);
}

.img-on-hover {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
}

section {
    transition:all 1s ease;
}

.about-bullet {
    color: #45A29E;
}

.teaching-section {
    /* margin-top: 30px; */
    /* text-align: center; */
    max-width: 500px;
    /* margin: 20px auto; */
}

.other-projects-header {
    text-align: center;
    margin-top: 30px;
}

@media (min-width: 576px) {
    /* html {
        font-size: 30px;
    } */
    .intro-name {
        font-size: 4.5rem;
    }
    
    
    .intro-blurb {
        font-size: 3.5rem;
    }
    
    .intro-greeting {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .text {
        font-size: 1rem;
    }

    .project-content {
        font-size: 0.75rem;
    }

    .project-technologies {
        font-size: 0.75rem;
    }

    .featured-project-tech {
        display: inline;
        padding-right: 1%;
    }
}
