/* .video-card {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
}

.fade-up {
    display: none;
} */

.eds124br-video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.section-title {
    margin-top: 60px;
}